In [1]:
#Data Manipulation from NumPy and Pandas
import pandas as pd
df= pd.read_csv('data.csv')
df.head(6)

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North
5  2023-01-06        B   54.0  Product3  192.0   West

In [ ]:
#Handling missing values in data using Pandas:
df.isnull() #=>this returns false if no missing values else true
df.isnull().any(axis=1) #=>this just gives a return value of the row

In [ ]:
df.isnull().any()
#to find the number of missing values in a vertical, we use sum
#df.isnull().sum(), =>this tells how many values are missing in vertical

#we should fill these empty values, we may fill it with mean or 0
#or depending on circumstances
#to say, we want to fill the missing values with mean, then we can 
#make a new column absed on the prev values,
#for eg
df['All-Sales']= df['Sales'].fillna(df['Sales'].mean())
#what this will do is, fill the NaN values with the mean of existig values
#and then fill the NaN values with this mean, while all the available
#values will be filled with the same rpev values
df

In [ ]:
#to make a new columns based on some modifications on the previous value
#just use the following syntax

#df['new-col-name'] = df['col-to-use'].operations here on
#if there are some empty cells in the col-to-use then fill them first and
#then apply the operations further
#df['new-col-name'] = df['col-to-use'].fillna(df['col-to-use'].mean()).ops

#to apply a certain fucntion/op to a specific col
#df['new-col-name'] = df['col-to-use'].apply(func-name/lambda x: modify)

In [ ]:
#Data aggregating and Grouping
# we can calculate specifics based on products or some other parametre
#we can also do multiple functios in one command using an aggregator func
#this will provide us with multiple data points or vars which gives
#us info about what is going on based on certain measures

In [ ]:
#Merging and Joining data frames
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})
#merging the data frames
#we can do it based on keys or other aprametres if any present
dfn= pd.merge(df1, df2, on= "key", how="inner")
#this tells us how inner gives us intersection of data frames and gives
#the intersection of these data
dfn

  key  value1  value2
0   A       1       4
1   B       2       5